/* ==== Reset ==== */

html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  scroll-behavior: smooth;
  line-height: 1.5;
  font-family: system-ui, "Segoe UI", Helvetica, Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-size: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button,
input,
textarea,
select,
a {
  font: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
}

button {
  cursor: pointer;
}

/* ==== Custom Properties ==== */

:root {
  /* fonts */
  --font-heading: system-ui, "Segoe UI", Helvetica, Arial, sans-serif;
  --font-primary: system-ui, "Segoe UI", Helvetica, Arial, sans-serif;

  /* colors */
  --primary-color: hsl(0, 0%, 80%);
  --secondary-color: hsl(0, 0%, 12%);
  --accent-color: hsl(0, 0%, 40%);

  /* font sizes */
  --vlarge: 2rem;
  --large: 1.5rem;
  --medium: 1rem;
  --small: 0.8rem;
  --vsmall: 0.5rem;

  /* spacing */
  --spacing-vlarge: 2rem;
  --spacing-large: 1.5rem;
  --spacing-medium: 1rem;
  --spacing-small: 0.5rem;
  --spacing-vsmall: 0.2rem;

  /* shadows */
  --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.05);
  --shadow-md: 0 2px 8px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 4px 16px rgba(0, 0, 0, 0.15);
}

/* ==== General ==== */

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 15px;
  min-height: 100dvh;

  padding: 50px 20px;

  background-color: var(--secondary-color);
}

/* ==== Header ==== */

header {
  font-size: var(--vlarge);
  color: var(--primary-color);
}

/* ==== Create task ==== */

#input-container form {
  display: flex;
  justify-content: space-between;

  width: 260px;

  border: 2px solid var(--accent-color);
  border-radius: 5px;
}

#todo-input {
  width: 75%;
  padding-left: 3px;
  color: var(--primary-color);
}

#todo-input:focus {
  outline: none;
}

#todo-date::-webkit-datetime-edit, 
#todo-date::-webkit-datetime-edit-text,
#todo-date::-webkit-datetime-edit-month-field,
#todo-date::-webkit-datetime-edit-day-field,
#todo-date::-webkit-datetime-edit-year-field {
  display: none;
}

#input-container button {
  padding: 1px 5px 7px 10px;

  color: var(--secondary-color);
  font-weight: 500;
  font-size: 1.1rem;

  background-color: var(--accent-color);
  border-bottom-left-radius: 30px;

  transition: 0.2s ease;
}

#input-container button:hover {
  background-color: var(--primary-color);
}

/* ==== Todo list ==== */

#todo-list-container {
  display: flex;
  flex-direction: column;

  gap: 10px;
  width: 330px;

  color: var(--primary-color);
}

#todo-list-container .todo {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-left: 5px;
  padding-right: 5px;

  border-bottom: 2px solid var(--accent-color);
  border-radius: 3px;

  transition: opacity 0.3s ease;
}

#todo-list-container .todo.completed {
  opacity: 0.3;
}

#todo-list-container input,
#todo-list-container label,
#todo-list-container span,
#todo-list-container button {
  padding-bottom: 2px;
}

#todo-list-container label {
  padding-right: 60px;
}

#todo-list-container button {
  fill: var(--primary-color);
  transition: transform 0.1s ease-out;
}

#todo-list-container button:hover {
  transform: rotate(10deg);
}

/* ==== Edit task form ==== */

dialog {
  border: none;
  background: transparent;
  overflow: visible;
  z-index: 10; 
}

dialog[open] {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

dialog::backdrop {
  background-color: rgb(0, 0, 0, 0.3);
}

#edit-task-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 200px;

  gap: var(--spacing-medium);
  padding: var(--spacing-medium) 0;

  color: var(--primary-color);
  background-color: hsl(0, 0%, 17%);
  border-radius: 10px;

  box-shadow: 2px 3px 10px hsl(0, 0%, 14%);
}

#edit-task-form h2 {
  font-size: 1.2rem;
}

#edit-task-form input {
  padding: 4px 3px;

  width: 80%;

  color: var(--primary-color);
  outline: none;
  border: 2px solid var(--accent-color);
  border-radius: 5px;
}

#edit-task-form #buttons {
  display: flex;
  gap: var(--spacing-small);

  font-size: var(--small)
}

#edit-task-form button {
  padding: 4px 6px;

  border-radius: 10px;
}

#edit-task-form #cancel-btn {
  background-color: rgb(99, 9, 9);
}

#edit-task-form #save-btn {
  background-color: rgb(11, 100, 11);
}


