/* ==== Reset ==== */

html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  scroll-behavior: smooth;
  line-height: 1.5;
  font-family: system-ui, "Segoe UI", Helvetica, Arial, sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
*, *:before, *:after {
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-size: inherit;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
button, input, textarea, select, a {
  font: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
}
button {
  cursor: pointer;
}

/* ==== Custom Properties ==== */

:root {
  /* fonts */
  --font-heading: system-ui, "Segoe UI", Helvetica, Arial, sans-serif;
  --font-primary: system-ui, "Segoe UI", Helvetica, Arial, sans-serif;

  /* colors */
  --blue-gradient: linear-gradient(135deg, #75E2EF, #1D768C); 

  /* font sizes */
  --vlarge: 1.5rem;
  --large: 1rem;
  --medium: 0.8rem;
  --small: 0.5rem;

  /* spacing */
  --spacing-vlarge: 2rem;
  --spacing-large: 1.5rem;
  --spacing-medium: 1rem;
  --spacing-small: 0.5rem;
  --spacing-vsmall: 0.2rem;

  /* container widths */
  --width-sidebar: 220px;
  --width-form: 240px;
  --width-input: 175px;

  /* shadows */
  --shadow-large: 4px 4px 15px rgba(0, 0, 0, 0.15);
  --shadow-medium: 2px 2px 10px rgba(0, 0, 0, 0.1);
  --shadow-small: 1px 1px 5px rgba(0, 0, 0, 0.05);
    
}
:root[data-theme="dark"] {
  --black: hsl(0, 0%, 9%);
  --black-light: hsl(0, 0%, 12%);

  --grey: hsl(0, 0%, 17%);
  --grey-light: hsl(0, 0%, 40%);

  --white-dark: hsl(0, 0%, 60%);
  --white: hsl(0, 0%, 80%);
}
:root[data-theme="light"] {
  --black: hsl(0, 0%, 80%);
  --black-light: hsl(0, 0%, 75%);

  --grey: hsl(0, 0%, 70%);
  --grey-light: hsl(0, 0%, 40%);

  --white-dark: hsl(0, 0%, 12%);
  --white: hsl(0, 0%, 9%);
}