/* ==== Reset ==== */

html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  scroll-behavior: smooth;
  line-height: 1.5;
  font-family: system-ui, "Segoe UI", Helvetica, Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-size: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button,
input,
textarea,
select,
a {
  font: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
}

button {
  cursor: pointer;
}

/* ==== Custom Properties ==== */

:root {
  /* fonts */
  --font-heading: system-ui, "Segoe UI", Helvetica, Arial, sans-serif;
  --font-primary: system-ui, "Segoe UI", Helvetica, Arial, sans-serif;

  /* colors */
  --primary-color: hsl(0, 0%, 80%);
  --secondary-color: hsl(0, 0%, 12%);
  --accent-color: hsl(0, 0%, 40%);

  /* font sizes */
  --vlarge: 2rem;
  --large: 1.5rem;
  --medium: 1rem;
  --small: 0.8rem;
  --vsmall: 0.5rem;

  /* spacing */
  --spacing-vlarge: 2rem;
  --spacing-large: 1.5rem;
  --spacing-medium: 1rem;
  --spacing-small: 0.5rem;
  --spacing-vsmall: 0.2rem;

  /* shadows */
  --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.05);
  --shadow-md: 0 2px 8px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 4px 16px rgba(0, 0, 0, 0.15);
}

/* ==== General ==== */

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 15px;
  min-height: 100dvh;

  padding: 50px 20px;

  background-color: var(--secondary-color);
}

/* ==== Header ==== */

header {
  font-size: var(--vlarge);
  color: var(--primary-color);
}

/* ==== Create task ==== */

#input-container form {
  display: flex;
  justify-content: space-between;

  width: 260px;

  border: 2px solid var(--accent-color);
  border-radius: 5px;
}

#input-container input {
  width: 75%;
  padding-left: 3px;
  color: var(--primary-color);
}

#input-container input:focus {
  outline: none;
}

#input-container button {
  padding: 3px 4px 5px 10px;

  color: black;
  font-weight: 500;

  background-color: var(--accent-color);
  border-bottom-left-radius: 30px;
}

/* ==== Todo list ==== */

#todo-list-container {
  display: flex;
  flex-direction: column;

  gap: 10px;
  width: 330px;

  color: var(--primary-color);
}

#todo-list-container .todo {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid var(--primary-color);
  border-radius: 3px;
}

#todo-list-container input,
#todo-list-container label,
#todo-list-container span,
#todo-list-container button {
  padding-bottom: 2px;
}

#todo-list-container label {
  padding-right: 60px;
}

